body {
    margin: 0px;
    background-color: #f9f9f9;
    padding: 0px;
}

.error {
    color: red;
}

.info {
    color: blue;
}

.hidden {
    display: none;
}

#cart {
    float: right;
}

/* Add a black background color to the top navigation */
#topnav {
    background-color: DodgerBlue;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
#topnav a {
    float: left;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-shadow: 0px 0px 2px #5b5b5b;
    text-decoration: none;
    overflow: auto;
    cursor: pointer;
    -webkit-font-smoothing: antialiased;
    font: 500 17px Arial;
}

/* Change the color of links on hover */
#topnav a:hover {
    background-color: RoyalBlue;
    color: #ffffff;
}

/* Add a color to the active/current link */
#topnav a.active {
    background-color: rgba(33, 197, 82, 0.89);
    color: #ffffff;
}


/* login windows */
#login-content, #registration {
    width: 320px;
    height: 450px;
    background: #f2f2f2;
    color: #000000;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px 1px #707070;
}

#registration {
    height: 480px;
}

.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}

h1 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

/* login and registration */

#login-content p, #registration p {
    margin: 0;
    padding: 0;
    font-weight: bold;
}

#login-content input, #registration input {
    width: 100%;
    margin-bottom: 20px;
}

#login-content input[type="text"], #login-content input[type="password"],
#registration input[type="text"], #registration input[type="password"] {
    border: none;
    border-bottom: 1px solid #444444;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}

#login-content button, #registration button {
    width: 60%;
    margin-top: 10px;
    margin-left: 20%;
    margin-right: 20%;
    border: none;
    outline: none;
    height: 40px;
    background: #3477ec;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
    cursor: pointer;
}

#login-content button:hover, #registration button:hover {
    cursor: pointer;
    background: rgba(25, 199, 42, 0.76);
    color: #000;
}

/* Product divs */

#photo img {
    max-height: 50%;
    float: top;
    margin: 0 auto;
    width: 70%;
}

#product-div {
    background-color: white;
    height: 300px;
    min-width: 250px;
    width: 20%;
    float: left;
    padding: 10px;
    margin: 10px;
    border: 2px;
    border-radius: 3px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.28), 0 1px 2px 0 rgba(0, 0, 0, 0.35);
    cursor: pointer;
}

#product-div:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
}

#product-div p {
    margin: 10px;
}

/* Details */

#image-big {
    float: left;
    width: 40%;
}

#image-big img {
    width: 100%;
}

#details-wrapper {
    background-color: white;
    margin: 10px;
    float: left;
    width: 20%;
}


#add-to-cart {
    float: left;
    background-color: #46b29d;
    text-align: center;
    height: 34px;
    width: 120px;
}

#add-to-cart-button, #checkOut-button, #update-button, #admin-menu a, #edit-submit-button,
#list-all-orders, #other-function, #back-to-landingpage, #product-list-button {
    background-color: #46b29d;
    cursor: pointer;
    border-radius: 3px;
    padding: 10px 15px;
    color: white;
    display: inline-block;
    position: relative;
    line-height: 20px;
    font-weight: 600;
    text-transform: uppercase;
    -webkit-font-smoothing: antialiased;
    font: 400 13px Arial;
}

#checkOut-button, #back-to-landingpage, #edit-submit-button {
    background-color: rgba(202, 36, 36, 0.79);
    margin-left: 3px;
    margin-top: 3px;
}

#desc-spec-wrapper {
    background-color: white;
    float: left;
    max-width: 40%;
    position: center;
}

#desc-spec-wrapper p, #desc-spec-wrapper h2 {
    margin: 20px;
}

/* table style */
#admin-content {
    margin-left: 30px;
}

#cart-content, #orders {
    float: left;
    background-color: white;
    border: #333333;
    border-radius: 10px;
    margin-top: 20px;
    width: 55%;
    padding: 20px 20px 20px 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#cart-content {
    margin-left: 20px;
}

#buy-products {
    margin: 20px;
}

#cart-content table tr:nth-child(even) {
    background-color: #f2f2f2;
}

#cart-content table tr:hover {
    background-color: #CDCDCD;
}

#orders table tr:nth-child(even) {
    background-color: #f2f2f2;
}

#orders table tr:hover {
    background-color: #CDCDCD;
}

#orders-content {
    padding-bottom: 20px;
}

table {
    border: 1px solid #ddd;
    border-collapse: collapse;
    margin: auto;
    width: 90%;
}

th {
    background-color: #1B9CFC;
    border: 1px solid #1a8bd6;
    text-align: left;
    padding: 5px 10px 5px 10px;
}

td {
    border: 1px solid #ddd;
    padding: 5px 10px 5px 10px;
}

#orders tr, #update, #admin-product td {
    cursor: pointer;
}

/* plus minus quantity */
input,
textarea {
    border: 1px solid #eeeeee;
    box-sizing: border-box;
    margin: 0;
    outline: none;
    padding: 10px;
}

input[type="button"] {
    -webkit-appearance: button;
    cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.input-group {
    float: left;
    display: inline;
    clear: both;
    margin: 5px 0;
    position: relative;
    min-width: 108px;
}

.input-group input[type='button'] {
    background-color: #eeeeee;
    min-width: 34px;
    width: auto;
    transition: all 300ms ease;
}

.input-group .button-minus,
.input-group .button-plus {
    font-weight: bold;
    height: 34px;
    padding: 0;
    width: 34px;
    position: relative;
    border-radius: 3px;
    cursor: pointer;
}

.input-group .button-minus:hover,
.input-group .button-plus:hover {
    background-color: #bebebe;
}

.input-group .quantity-field {
    position: relative;
    height: 34px;
    left: -6px;
    text-align: center;
    width: 40px;
    display: inline-block;
    font-size: 13px;
    margin: 0 0 5px;
    resize: vertical;
}

.button-plus {
    left: -13px;
}

input[type="number"] {
    -moz-appearance: textfield;
    -webkit-appearance: none;
}

/* snackbar */

#snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #dc2929; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 3px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 40px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
    visibility: visible; /* Show the snackbar */
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
    However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
