body {
    margin: 0px;
    background-color: #f9f9f9;
    padding: 0px;
    
}

.error {
    color: red;
}

.info {
    color: blue;
}

.hidden {
    display: none;
}

#cart {
    float: right;
}

/* Add a black background color to the top navigation */
#topnav {
    background-color: DodgerBlue;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
#topnav a {
    float: left;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-shadow: 0px 0px 2px #5b5b5b;
    text-decoration: none;
    overflow: auto;
    cursor: pointer;
    -webkit-font-smoothing: antialiased;
    font: 500 17px Arial;
}

/* Change the color of links on hover */
#topnav a:hover {
    background-color: RoyalBlue;
    color: #ffffff;
}

/* Add a color to the active/current link */
#topnav a.active {
    background-color: rgba(25, 199, 42, 0.76);
    color: #ffffff;
}


/* login windows */
#login-content {
    width: 320px;
    height: 450px;
    background: #f2f2f2;
    color: #000000;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px 1px #707070;
    
}

.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}

h1 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}
/* login */

#login-content p {
    margin: 0;
    padding: 0;
    font-weight: bold;
}

#login-content input {
    width: 100%;
    margin-bottom: 20px;
}

#login-content input[type="text"], #login-content input[type="password"] {
    border: none;
    border-bottom: 1px solid #444444;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}

#login-content button {
    width: 60%;
    margin-top: 10px;
    margin-left: 20%;
    margin-right: 20%;
    border: none;
    outline: none;
    height: 40px;
    background: #3477ec;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}

#login-content button:hover {
    cursor: pointer;
    background: rgba(25, 199, 42, 0.76);
    color: #000;
}
/* Product divs */

#photo img{
    max-height: 50%;
    float: top;
    margin: 0 auto;
    width: 70%;
}

#product-div {
    background-color: white;
    height: 300px;
    min-width: 250px;
    width: 20%;
    float: left;
    padding: 10px;
    margin: 10px;
    border: 2px;
    border-radius: 3px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.28), 0 1px 2px 0 rgba(0, 0, 0, 0.35);
    cursor: pointer;
}

#product-div:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
}

#product-div p {
    margin: 10px;
}
/* Details */

#image-big {
    float: left;
    width: 40%;
}

#image-big img{
    width: 100%;
}

#details-wrapper {
    background-color: white;
    margin: 10px;
    float: left;
    width: 20%;
}

#add-to-cart {
    background-color: #46b29d;
    text-align: center;
    height: 34px;
    border-radius: 3px;
    cursor: pointer;
    width: 120px;

}

#add-to-cart-button {
    padding: 10px;
    color: white;
    line-height: 34px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 5px;
    -webkit-font-smoothing: antialiased;
    font: 400 13.3333px Arial;
}

#desc-spec-wrapper {
    background-color: white;
    float: left;
    max-width: 40%;
    position: center;
}

#desc-spec-wrapper p {
    margin: 20px;
}

#desc-spec-wrapper h2{
    margin: 20px;
}
